*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Mavin-Pro',sans-serif;
}
h1{
	text-align:center;
	font-size:1.8rem;
	color:#444;
	padding:30px 0;
}

main{
 width: 90%; height: 1250px;
 margin: auto; border: 10px solid orange;
 display: flex; justify-content: space-around;
 align-items: center; flex-wrap: wrap;
}
div{
	width:27%;
	height:160px;
	/*border:1px solid red;*/
	box-shadow:2px 2px 5px grey;
	border-radius:10px;
	cursor:pointer;

}

.a{
	background-image:url('1.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;}

.b{
	background-image:url('2.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}
.c{
	background-image:url('3.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.d{
	background-image:url('4.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.e{
	background-image:url('5.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.f{
	background-image:url('6.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}
.g{
	background-image:url('7.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.h{
	background-image:url('8.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}
.i{
	background-image:url('9.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.j{
	background-image:url('10.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.k{
	background-image:url('11.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.l{
	background-image:url('12.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.m{
	background-image:url('13.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.n{
	background-image:url('14.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.o{
	background-image:url('15.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.p{
	background-image:url('16.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.q{
	background-image:url('17.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}

.r{
	background-image:url('18.jpg');
	backgrond-repeat:no-repeat;
	background-size:100% 100%;
}
